<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>658008688279-2qhf4p2c8p5ic6hleetpfjgvjgkq2orn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.658008688279-2qhf4p2c8p5ic6hleetpfjgvjgkq2orn</string>
	<key>API_KEY</key>
	<string>AIzaSyCcPuivzPl1Z06kfpf4Fmt24inrZ6mUBFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>658008688279</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterDdd</string>
	<key>PROJECT_ID</key>
	<string>notes-app-14c72</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-app-14c72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:658008688279:ios:35be1f693be3edd88dcbd2</string>
</dict>
</plist>